.header {
  height: 4.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: var(--color-bg-header);
  padding-right: 1rem;
  padding-left: 1rem;
  color: var(--color-font-light);
  font-size: 1rem;
  text-transform: uppercase;
}

::ng-deep .header .p-inputtext,
::ng-deep .header .p-dropdown,
::ng-deep .header .p-dropdown-label,
::ng-deep .header .p-button,
::ng-deep .header .p-button-label,
::ng-deep .header .p-dropdown-item {
  font-size: 1rem;
  text-transform: uppercase;
}
