.header-container {
  justify-content: center;
  text-transform: uppercase;
}

.title {
  font-weight: 900;
}

.border-primary {
  border: 1px solid var(--color-primary);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
