<p-card *transloco="let t">
  <ng-template pTemplate="header">
    <div class="header-container">{{t("header.login")}}</div>
  </ng-template>
  <form [formGroup]="formGroup" (ngSubmit)="login($event)" class="form">
    <div class="flex flex-column gap-2">
      <label for="username">{{t("login.username")}}</label>
      <input pInputText id="username" formControlName="username" (keydown.space)="$event.preventDefault()" />
    </div>
    <div class="flex flex-column gap-2 mt-3">
      <label for="password">{{t("login.password")}}</label>
      <p-password id="password" styleClass="w-full" inputStyleClass="w-full" formControlName="password"
        [toggleMask]="true" [feedback]="false" />
    </div>
    <p-messages class="mt-3" [(value)]="error" [enableService]="false" [closable]="false" />
    <div class="flex flex-column align-items-start gap-2 mt-3">
      <p-button class="btn-primary" type="submit" [loading]="loading" [label]="t('header.login')" />
    </div>
  </form>

  <div class="flex justify-content-center gap-2 w-full mt-5">
    <a class="link" href="/auth/forgot-password">{{t('login.lostPassword')}}</a>
    {{' | '}}
    <a class="link" href="/auth/register">{{t('login.newUser')}}</a>
  </div>
</p-card>
