.title {
  font-weight: bolder;
  font-size: larger;
}
.description {
  font-weight: 500;
  font-size: large;
}
.subtitle {
  font-weight: bolder;
  font-size: large;
}
.success {
  font-size: 5rem;
  color: var(--green-500);
}
.started {
  text-align: center;
  font-size: x-large;
  color: var(--green-500);
}
