.header-container {
  justify-content: center;
}

::ng-deep .p-card .p-card-content {
  padding: 0;
}

::ng-deep .p-card {
  width: 100%;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  border-color: var(--color-font-dark);
}

.paginator {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.spinner {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.row:hover {
  background-color: rgba(0, 0, 0, 0.041);
}

.link-dog {
  width: 100%;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  cursor: pointer;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-dog:hover {
  text-decoration: underline;
}

@media only screen and (min-height: 1080px) {
  .texts {
    zoom: 0.6;
  }
}
