<div class="container" *transloco="let t">
  <div class="title-container flex flex-column gap-1 w-full">
    <div class="flex justify-content-center w-full">
      <span class="title">{{ activeStream?.title }}</span>
    </div>
    <span>{{ activeStream?.description }}</span>
  </div>

  <div class="header">
    <span>CHAT</span>
  </div>
  <div #messageContainer class="messages-container">
    @for (message of messages; track $index) {
    <div
      [class]="
        message.user_id == user?.id
          ? 'message-container right-align'
          : 'message-container left-align'
      "
    >
      <div
        [class]="
          message.user_id == user?.id
            ? 'message-bubble right'
            : 'message-bubble left'
        "
      >
        <span class="message">
          <strong> {{ message.username }}</strong>
        </span>
        <span class="message">
          {{ message.message }}
        </span>

        <div class="flex w-full justify-content-end align-items-center gap-1">
          <span class="time">{{ message.created_at | timeFormat }}</span>
        </div>
      </div>
    </div>
    }
  </div>

  @if (showEmojiPicker) {
  <emoji-mart
    (emojiSelect)="addEmoji($event)"
    [style]="{ position: 'absolute', bottom: '90px', rigth: '30rem' }"
    title="Pick your emoji…"
    emoji="point_up"
  ></emoji-mart>
  }

  <div class="input-container">
    <p-inputGroup class="input-message h-full w-full gap-2">
      <button
        pButton
        class="text-input button-icon"
        type="button"
        icon="pi pi-face-smile"
        (click)="toggleEmojiPicker()"
      ></button>
      <input
        pInputText
        class="text-input"
        type="text"
        [(ngModel)]="messageModel"
        (keyup.enter)="sendMessage()"
        placeholder="{{ t('messages.messagePlaceholder') }}"
        (focus)="showEmojiPicker = false"
      />
      <button
        pButton
        type="button"
        class="text-input"
        icon="pi pi-send"
        label="{{ t('buttons.send') }}"
        [disabled]="messageModel == ''"
        (click)="sendMessage()"
      ></button>
    </p-inputGroup>
  </div>
</div>
