::ng-deep .p-card .p-card-content {
  padding: 0;
}

.header-container {
  justify-content: center;
  text-transform: uppercase;
}

.link-dog {
  width: 100%;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  cursor: pointer;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-dog:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

.active {
  font-weight: 700;
  color: var(--color-primary);
  text-decoration: underline;
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

::ng-deep p-inputNumber {
  width: 70px;
}

::ng-deep .p-inputnumber-input {
  width: 70px;
}
