.menu-pedigree {
  background-color: var(--color-bg-menu-pedigree);
  border: 2px solid var(--color-primary);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--color-font-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.link-menu {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
}

.link-menu:hover {
  color: var(--color-primary);
  font-weight: bolder;
  text-decoration: underline;
}

.active {
  font-weight: bolder;
  color: var(--color-primary);
  text-decoration: underline;
}

.header-container {
  justify-content: space-between;
  align-items: center;
}

.icon-back {
  cursor: pointer;
}

.icon-back:hover {
  opacity: 0.9;
}

.border-primary {
  border: 2px solid var(--color-primary);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.separator {
  height: 100%;
  border-left: 2px solid var(--color-primary);
}

.generations {
  height: 600px;
}

.parent {
  border-bottom: 2px solid var(--color-primary);
  box-sizing: border-box;
  height: 100%;
}

.generations-menu {
  border-left: none;
  border-right: none;
}

.bar {
  height: 28px;
  border: 1px solid var(--color-font-dark);

  &.bar-50 {
    width: 500px;
  }

  &.bar-25 {
    width: 250px;
  }

  &.bar-125 {
    width: 125px;
  }

  &.bar-625 {
    width: 62.5px;
  }
}

.color-1 {
  background-color: #0000ff;
}

.color-2 {
  background-color: #ff0000;
}

.color-3 {
  background-color: #008000;
}

.color-4 {
  background-color: #ffa500;
}

.color-5 {
  background-color: #800000;
}

.color-6 {
  background-color: #00ffff;
}

.color-7 {
  background-color: #006666;
}

.color-8 {
  background-color: #191970;
}

.row {
  cursor: pointer;
}

.row:hover {
  background-color: rgba(0, 0, 0, 0.041);
}

.parent-link {
  cursor: pointer;
  font-weight: 900;
  font-size: smaller;
  color: black;
}

.unknown {
  font-weight: 900;
  font-size: smaller;
  color: black;
}

.parent-link:hover {
  text-decoration: underline;
}

.img {
  height: 250px;
  max-width: 700px;
}

.text-uppercase {
  text-transform: uppercase;
}
