<p-card *transloco="let t">
  <ng-template pTemplate="header">
    <div class="header-container">Dashboard</div>
  </ng-template>

  <div class="flex justify-content-between px-5 gap-5">
    <div class="card">
      <span class="title">{{ t("dashboard.users") }}</span>
      <h2 class="text-center">{{ users }}</h2>
    </div>
    <div class="card">
      <span class="title">{{ t("dashboard.loggeds") }}</span>
      <h2 class="text-center">{{ loggeds }}</h2>
    </div>
    <div class="card">
      <span class="title">{{ t("dashboard.pedigrees") }}</span>
      <h2 class="text-center">{{ pedigrees }}</h2>
    </div>
    <div class="card">
      <span class="title">{{ t("dashboard.payments") }}</span>
      <h2 class="text-center">{{ payments }}</h2>
    </div>
  </div>

  <div class="flex justify-content-between gap-5 p-5">
    <div class="card c-chart">
      <span class="title">{{ t("dashboard.usersChart") }}</span>
      <div class="flex align-items-center w-full h-full">
        <p-chart
          type="line"
          class="chart"
          height="24rem"
          [data]="chartDataUsers"
          [options]="chartDataUsersOptions"
        />
      </div>
    </div>

    <div class="card c-chart">
      <span class="title">{{ t("dashboard.paymentsChart") }}</span>
      <div class="flex align-items-center w-full h-full">
        <p-chart
          type="bar"
          class="chart"
          height="24rem"
          [data]="chartDataPayments"
          [options]="chartDataPaymentsOptions"
        />
      </div>
    </div>
  </div>
</p-card>
