<p-card *transloco="let t">
  <ng-template pTemplate="header">
    <div class="header-container">{{t('header.forgotPassword')}}</div>
  </ng-template>
  <form [formGroup]="formGroup" (ngSubmit)="resetPassword()" class="form">
    <div class="flex flex-column gap-3">
      <div class="flex flex-column gap-2">
        <label for="username">{{t("yourPedigrees.changeOwner.usernameOrEmail")}}</label>
        <input pInputText id="username" formControlName="username" (keydown.space)="$event.preventDefault()" />
      </div>
      <p-button class="btn-primary" type="submit" [loading]="loading" [label]="t('header.forgotPassword')" />
    </div>
  </form>
</p-card>
