<p-card *transloco="let t">
  <ng-template pTemplate="header">
    <div class="header-container">{{t("menu")}}</div>
  </ng-template>
  <ul class="navbar-list w-full">
    <li class="navbar-item" routerLinkActive="active"><a routerLink="/home">
        {{ t('navbar.items.home') }}</a></li>
    <li class="navbar-item" routerLinkActive="active"><a routerLink="/forum">
        {{ t('navbar.items.forum') }}</a></li>
    <li [class]="(router.url == '/pedigree' ? 'navbar-item active' : 'navbar-item')"><a routerLink="/pedigree">
        {{ t('navbar.items.pedigrees') }}</a></li>
    <li class="navbar-item" routerLinkActive="active"><a routerLink="/messages">
        {{ t('navbar.items.messages') }}</a>
    </li>
    <li class="navbar-item" routerLinkActive="active"><a routerLink="/account">
        {{ t('navbar.items.yourAccount') }}</a></li>
  </ul>
</p-card>
