.header-container {
  width: 100%;
  background-color: var(--color-bg-header);
  height: 2.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--color-font-light);
}

.navbar-list {
  padding-left: 1rem;
  height: 100%;
}

.navbar-item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.navbar-item:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

.active {
  font-weight: 700;
  color: var(--color-primary);
  text-decoration: underline;
}

::ng-deep .p-card .p-card-content {
  padding: 0;
}
