<p-card *transloco="let t">
  <ng-template pTemplate="header">
    <div class="header-container">{{ t("onlineInfo.title") }}</div>
  </ng-template>
  <diV>
    <p
      class="text-center"
      [innerHTML]="t('onlineInfo.line1', { guest: loggeds })"
    ></p>
    @if (user) {
    <p
      class="text-center"
      [innerHTML]="t('onlineInfo.line2', { user: user.username })"
    ></p>
    }@else {

    <p class="text-center">
      {{ t("onlineInfo.line3") }}
      <a
        class="link ml-1"
        hrefActive="active-link"
        href="/auth/register"
        >{{ t("onlineInfo.here") }}</a
      >
    </p>

    }
  </diV>
</p-card>
