body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg-body);
}
//--color-primary: #1a5276;
//  --color-bg-header: #352279;
:root {

  --color-primary: #415a51;
  --color-secondary: #3e2e7a;
  --color-bg-header: #669181;
  --color-bg-footer: #ececec;
  --color-bg-navbar: #ececec;
  --color-bg-body: #f6f6f6;
  --color-font-light: #f6f6f6;
  --color-font-dark: #181818;
}

.header-container {
  width: 100%;
  background-color: var(--color-bg-header);
  height: 2.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--color-font-light);
}

::ng-deep .p-button {
  background-color: var(--color-secondary) !important;
}
