body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  width: 100vw;
  background-color: var(--color-bg-body);
}

:root {
  --color-primary: #2876a7;
  --color-secondary: #6fb9e737;
  --color-bg-header: #1a5276;
  --color-bg-footer: #f6f6f6;
  --color-bg-navbar: #e3e9ee;
  --color-bg-menu-pedigree: #e3e9ee;
  --color-bg-body: #f6f6f6cc;
  --color-font-light: #f6f6f6;
  --color-font-primary: #0b202e;
  --color-font-dark: #181818;
}

.header-container {
  width: 100%;
  background-color: var(--color-bg-header);
  height: 2.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--color-font-light);
}

.p-progress-spinner-circle {
  stroke-dasharray: 89, 200;
  stroke-dashoffset: 0;
  stroke: var(--color-primary);
  animation: p-progress-spinner-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

.red {
  color: red !important;
}

.blue {
  color: blue !important;
}

.green {
  color: green !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #edededa4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-bg-header);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #edededa4;
}

::-webkit-scrollbar-thumb:active {
  background: var(--color-primary);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-bg-header) #edededa4;
}