<p-card class="card" *transloco="let t">
  <ng-template pTemplate="header">
    <div class="header-container">{{ t("navbar.items.forum") }}</div>
  </ng-template>
  <div #scroll></div>
  <p-table [value]="posts" styleClass="p-datatable-striped">
    <ng-template pTemplate="caption">
      <div class="flex flex-column">
        <div class="flex align-items-center justify-content-between">
          @if(topic){
          <div class="flex align-items-end gap-1">
            <a class="link text-xl" [href]="'/forum'">
              {{ t("forum.index") }}
            </a>
            <span class="title"> &#183;</span>
            <a
              class="link text-xl"
              [href]="'/forum/topics/' + topic.id_categories"
              >{{ topic.category_name }}</a
            >
          </div>
          }

          <div class="flex align-items-center gap-2 w-5">
            <input
              pInputText
              type="text"
              class="w-full"
              [(ngModel)]="modelSearch"
              [placeholder]="t('forum.searchPosts')"
              (keyup.enter)="search()"
            />
            <p-button
              label="{{ t('buttons.search') }}"
              icon="pi pi-search"
              (onClick)="search()"
            ></p-button>
          </div>
        </div>
        <div class="flex align-items-end justify-content-between mt-3">
          @if(topic){
          <span class="message">{{ topic.name }}</span>
          }
          <div class="flex justify-content-end align-items-end gap-2 w-6">
            <p-button
              label="{{ t('buttons.newTopic') }}"
              (onClick)="goToNewTopic()"
              icon="pi pi-file-o"
            ></p-button>
            <p-button
              label="{{ t('buttons.newPost') }}"
              (onClick)="goToNewPost()"
              icon="pi pi-file-plus"
            ></p-button>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 240px">{{ t("forum.author") }}</th>
        <th>{{ t("forum.message") }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-post>
      <tr>
        <td style="vertical-align: top">
          <div
            class="flex flex-column justify-content-start align-items-start"
            style="width: 240px"
          >
            <div
              class="flex justify-content-between gap-2 align-items-center w-full"
            >
              <a
                class="link title"
                [href]="'/forum/profile/' + post.username"
                >{{ post.username }}</a
              >
              <div class="flex justify-content-end gap-2">
                <p-button
                  [rounded]="true"
                  [text]="true"
                  [raised]="true"
                  icon="pi pi-comment"
                  (onClick)="goToChat(post.username)"
                ></p-button>
                @if (post.show_email) {
                <p-button
                  [rounded]="true"
                  [text]="true"
                  [raised]="true"
                  (onClick)="sendMail(post.email)"
                  icon="pi pi-envelope"
                ></p-button>
                }
              </div>
            </div>
            <span class="info">{{ t("forum.levels." + post.level) }}</span>
            <div class="flex gap-1">
              @for (star of getStarsArray(post.stars); track $index) {
              <i class="pi pi-star mb-3" style="color: rgb(187, 166, 46)"></i>
              }
            </div>
            @if (post.picture) {
            <img class="picture mb-3" [src]="urlImg + post.picture" />
            }
            <span class="info"
              ><strong>{{ t("forum.joined") }}: </strong
              >{{ getDateInLocale(post.date_joined, false) }}</span
            >
            <span class="info"
              ><strong>{{ t("forum.posts") }}: </strong>{{ post.posts }}</span
            >
            @if(post.show_location && post.location){
            <span class="info"
              ><strong>{{ t("forum.location") }}: </strong
              >{{ post.location }}</span
            >
            }
          </div>
        </td>
        <td>
          <div
            class="flex flex-column align-items-start"
            style="min-height: 240px"
          >
            <div
              class="flex justify-content-between align-items-center w-full gap-2"
            >
              <span class="info"
                ><strong>{{ t("forum.posted") }}: </strong>
                {{ getDateInLocale(post.created_at, true) }}</span
              >
              <div class="flex gap-2">
                <p-button
                  [pTooltip]="t('buttons.quote')"
                  [rounded]="true"
                  [text]="true"
                  (onClick)="goToQuote(post.id)"
                  [raised]="true"
                >
                  <ng-template pTemplate="icon">
                    <svg
                      height="15px"
                      width="15px"
                      version="1.1"
                      [style]="'fill: var(--color-primary)'"
                      id="_x32_"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      viewBox="0 0 512 512"
                      xml:space="preserve"
                    >
                      <g>
                        <path
                          class="st0"
                          d="M119.472,66.59C53.489,66.59,0,120.094,0,186.1c0,65.983,53.489,119.487,119.472,119.487
                     c0,0-0.578,44.392-36.642,108.284c-4.006,12.802,3.135,26.435,15.945,30.418c9.089,2.859,18.653,0.08,24.829-6.389
                     c82.925-90.7,115.385-197.448,115.385-251.8C238.989,120.094,185.501,66.59,119.472,66.59z"
                        />
                        <path
                          class="st0"
                          d="M392.482,66.59c-65.983,0-119.472,53.505-119.472,119.51c0,65.983,53.489,119.487,119.472,119.487
                     c0,0-0.578,44.392-36.642,108.284c-4.006,12.802,3.136,26.435,15.945,30.418c9.089,2.859,18.653,0.08,24.828-6.389
                     C479.539,347.2,512,240.452,512,186.1C512,120.094,458.511,66.59,392.482,66.59z"
                        />
                      </g>
                    </svg>
                  </ng-template>
                </p-button>
                @if (post.id_author == user?.id) {
                <p-button
                  [rounded]="true"
                  [text]="true"
                  [raised]="true"
                  (onClick)="goToEdit(post.id)"
                  icon="pi pi-pencil"
                ></p-button>
                } @if (post.id_author == user?.id || user?.is_superuser ||
                isModerator(user?.username ?? '')) {
                <p-button
                  [rounded]="true"
                  [text]="true"
                  [raised]="true"
                  severity="danger"
                  (onClick)="deletePost(post.id)"
                  icon="pi pi-trash"
                ></p-button>
                }

                <p-button
                  [rounded]="true"
                  [text]="true"
                  [raised]="true"
                  (onClick)="scrollUp()"
                  icon="pi pi-arrow-up"
                ></p-button>
              </div>
            </div>
            <div [innerHTML]="post.message"></div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div #scrollDown></div>
  <div class="previous-container">
    <div class="flex align-items-center justify-content-end gap-2">
      <label>{{ t("forum.displayPostsFrom") }}:</label>
      <p-dropdown
        [options]="previousOptions"
        [(ngModel)]="modelPrevious"
        optionLabel="name"
        optionValue="code"
      >
      </p-dropdown>
      <p-dropdown
        [options]="orderOptions"
        [(ngModel)]="modelOrder"
        optionLabel="name"
        optionValue="code"
      >
      </p-dropdown>
      <button
        pButton
        type="button"
        [label]="t('buttons.go')"
        class="p-button-primary"
        (click)="changePreviousOption()"
      ></button>
    </div>
    <p-paginator
      [first]="first"
      (onPageChange)="onPageChange($event)"
      [rows]="queryPagination.size"
      [totalRecords]="totalRows"
    />
  </div>

  <div class="flex align-items-start justify-content-between mt-5">
    <div class="flex flex-column gap-3">
      <div class="flex align-items-center gap-2 w-full">
        <label>{{ t("forum.jumpTo") }}:</label>
        <p-dropdown
          [options]="forumCategories"
          [(ngModel)]="modelCategory"
          optionLabel="name"
          optionValue="id"
        >
        </p-dropdown>
        <button
          pButton
          type="button"
          [label]="t('buttons.go')"
          class="p-button-primary"
          (click)="changeCategory()"
          [disabled]="modelCategory == 0"
        ></button>
      </div>
    </div>

    <div class="flex flex-column">
      <span [innerHTML]="t('forum.youCan.line1')"></span>
      <span [innerHTML]="t('forum.youCan.line2')"></span>
      <span [innerHTML]="t('forum.youCan.line3')"></span>
      <span [innerHTML]="t('forum.youCan.line4')"></span>
    </div>
  </div>
</p-card>

<p-confirmDialog />
