.header-container {
  justify-content: space-between;
  align-items: center;
}

.icon-back {
  cursor: pointer;
}

.icon-back:hover {
  opacity: 0.9;
}

.form {
  width: 700px;
}
.chat-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
