<p-card class="card" *transloco="let t">
  <ng-template pTemplate="header">
    <div class="header-container">{{ t("navbar.items.forum") }}</div>
  </ng-template>

  <p-table [value]="forumCategories" styleClass="p-datatable-striped">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <span class="text-xl">{{ t("forum.index") }}</span>
        <span class="link title" (click)="markAllAsViewed()">{{
          t("forum.markForums")
        }}</span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th colspan="2">Pedigree Online</th>
        <th style="width: 60px">{{ t("forum.topics") }}</th>
        <th style="width: 60px">{{ t("forum.posts") }}</th>
        <th style="width: 400px">{{ t("forum.lastPost") }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
      <tr class="row">
        <td style="width: 50px">
          @if(category.is_locked){
          <diV class="icon-container">
            <i
              class="pi pi-lock font-bold"
              style="color: var(--surface-500)"
            ></i>
          </diV>
          }@else {
          <diV class="icon-container">
            <svg
              fill="#000000"
              height="15px"
              width="15px"
              [class]="
                category.new_posts ? 'icon-category active' : 'icon-category'
              "
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512 512"
              enable-background="new 0 0 512 512"
              xml:space="preserve"
            >
              <path
                d="M0,512h232.7V279.3H0V512z M0,232.7h232.7V0H0V232.7z M279.3,512H512V279.3H279.3V512z M279.3,0v232.7H512V0H279.3z"
              />
            </svg>
          </diV>
          }
        </td>
        <td>
          <div class="flex flex-column">
            @if(!category.is_locked || user?.is_superuser ||
            category.moderators.includes(user?.username ?? '')){
            <a class="link title" [href]="'/forum/topics/' + category.id">{{
              category.name
            }}</a>
            } @else {
            <span class="title">{{ category.name }}</span>
            }
            <span class="description">{{ category.description }}</span>
            @if (category.moderators) {
            <div class="flex gap-1">
              <span class="description">{{ t("forum.moderators") }}</span>
              @for (moderator of category.moderators; track $index) {
              <a class="link" [href]="'/forum/profile/' + moderator"
                ><strong>{{ moderator }} </strong>
              </a>
              <strong>
                @if ($index < category.moderators.length - 1){&#183;}</strong
              >
              }
            </div>
            }
          </div>
        </td>
        <td style="width: 60px">{{ category.topics }}</td>
        <td style="width: 60px">{{ category.posts }}</td>
        <td style="width: 400px">
          @if (category.last_post_info && category.last_post_info != ''){
          <div class="flex flex-column align-items-center">
            <span>{{ category.last_post_info.date | dateHourFormat }}</span>
            <div class="flex align-items-center gap-1">
              <a
                class="link"
                [href]="'/forum/profile/' + category.last_post_info.author"
                ><strong>{{ category.last_post_info.author }}</strong></a
              >
              <i class="pi pi-arrow-right text-xs font-bold"></i>
              <i
                class="pi pi-file link-last-post"
                (click)="goToLastPost(category.last_post_info.topic)"
              ></i>
            </div>
          </div>
          }@else {
          <div class="flex flex-column align-items-center">
            <span>-</span>
          </div>
          }
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div class="mt-5"></div>

  @if (categoriesInfo) {
  <p-card class="who-online">
    <ng-template pTemplate="header">
      <div class="header-container justify-content-start">
        {{ t("onlineInfo.title") }}
      </div>
    </ng-template>
    <diV class="flex align-items-center">
      <div
        class="flex align-items-center justify-content-center"
        style="width: 100px"
      >
        <div class="icon-container">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 512"
            class="active"
            height="25px"
            width="25px"
          >
            <path
              d="M144 0a80 80 0 1 1 0 160A80 80 0 1 1 144 0zM512 0a80 80 0 1 1 0 160A80 80 0 1 1 512 0zM0 298.7C0 239.8 47.8 192 106.7 192l42.7 0c15.9 0 31 3.5 44.6 9.7c-1.3 7.2-1.9 14.7-1.9 22.3c0 38.2 16.8 72.5 43.3 96c-.2 0-.4 0-.7 0L21.3 320C9.6 320 0 310.4 0 298.7zM405.3 320c-.2 0-.4 0-.7 0c26.6-23.5 43.3-57.8 43.3-96c0-7.6-.7-15-1.9-22.3c13.6-6.3 28.7-9.7 44.6-9.7l42.7 0C592.2 192 640 239.8 640 298.7c0 11.8-9.6 21.3-21.3 21.3l-213.3 0zM224 224a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zM128 485.3C128 411.7 187.7 352 261.3 352l117.3 0C452.3 352 512 411.7 512 485.3c0 14.7-11.9 26.7-26.7 26.7l-330.7 0c-14.7 0-26.7-11.9-26.7-26.7z"
            />
          </svg>
        </div>
      </div>
      <div class="flex v-separator flex-column gap-2 w-full">
        <span
          class="mt-2"
          [innerHTML]="
            t('forum.whoOnline.line1', { posts: categoriesInfo.postsCount })
          "
        ></span>
        <span
          [innerHTML]="
            t('forum.whoOnline.line2', { users: categoriesInfo.usersCount })
          "
        ></span>
        <span
          >{{ t("forum.whoOnline.line3") }}
          <a
            class="link"
            [href]="'/forum/profile/' + categoriesInfo.lastUsers[0].username"
            ><strong>{{ categoriesInfo.lastUsers[0].username }}</strong></a
          ></span
        >
        <div class="h-separator"></div>
        <span
          [innerHTML]="
            t('forum.whoOnline.line4', { users: categoriesInfo.usersLogged })
          "
        ></span>
        <!-- <span [innerHTML]="t('forum.whoOnline.line5' , {users: 123, date: forum[0].last_post})"></span> -->
        <div class="flex gap-1">
          <span>{{ t("forum.whoOnline.line6") }}</span>
          @for (user of categoriesInfo.lastUsers; track $index) {
          <a class="link" [href]="'/forum/profile/' + user.username"
            ><strong
              >{{ user.username }}@if ($index < categoriesInfo.lastUsers.length
              - 1) {,}</strong
            ></a
          >
          }
        </div>
        <div class="h-separator"></div>
        <span class="mb-2">{{ t("forum.whoOnline.line7") }}</span>
      </div>
    </diV>
  </p-card>
  }

  <div class="flex justify-content-center gap-5 mt-5">
    <div class="flex align-items-center gap-2">
      <diV class="icon-container">
        <svg
          fill="#000000"
          height="15px"
          width="15px"
          class="icon-category active"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 512 512"
          enable-background="new 0 0 512 512"
          xml:space="preserve"
        >
          <path
            d="M0,512h232.7V279.3H0V512z M0,232.7h232.7V0H0V232.7z M279.3,512H512V279.3H279.3V512z M279.3,0v232.7H512V0H279.3z"
          />
        </svg>
      </diV>
      <span>{{ t("forum.newPosts") }}</span>
    </div>
    <div class="flex align-items-center gap-2">
      <diV class="icon-container">
        <svg
          fill="#000000"
          height="15px"
          width="15px"
          class="icon-category"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 512 512"
          enable-background="new 0 0 512 512"
          xml:space="preserve"
        >
          <path
            d="M0,512h232.7V279.3H0V512z M0,232.7h232.7V0H0V232.7z M279.3,512H512V279.3H279.3V512z M279.3,0v232.7H512V0H279.3z"
          />
        </svg>
      </diV>
      <span>{{ t("forum.noNewPosts") }}</span>
    </div>
    <div class="flex align-items-center gap-2">
      <diV class="icon-container">
        <i class="pi pi-lock font-bold" style="color: var(--surface-500)"></i>
      </diV>
      <span>{{ t("forum.locked") }}</span>
    </div>
  </div>
</p-card>
